<link rel="stylesheet" href="/css/reactflow.css" />
<link rel="stylesheet" href="/css/devices.min.css" />

<div>
  <!-- <div class="grid grid-cols-2 gap-1">
    <div>1</div>
    <div>2</div>
  </div> -->
    <div id="editor"></div>

    {{ if .IsNamedParams }}
      <div id="editor-code" data-code="{{ .Get "code" }}"></div>
    {{ end }}
    {{ with resources.Get "YadlEditor.tsx" }}
      {{ $options := dict "defines" (dict "process.env.NODE_ENV" "\"development\"" "process.env.BaseURL" (printf `"%s"` $.Site.BaseURL)) }}
      {{ $script := . | js.Build $options }}
      <script src="{{ $script.RelPermalink }}" defer></script>
    {{ end }}
</div>
